.margin-bottom-40{
	margin-bottom: 40px !important;
}
.margin-bottom-30{
	margin-bottom: 30px !important;
}
.margin-bottom-20{
	margin-bottom: 20px !important;
}
.margin-bottom-15{
	margin-bottom: 15px !important;
}
.margin-left-8 {
    margin-left: 8px;
}
.no-margin{
	margin: 0;
}
.no-padding{
	padding: 0;
}

.hide {
    display: none!important;
}
.show {
    display: block!important;
}
a{
	text-decoration: none !important;
}
a{-webkit-transition:all ease 0.2s;-o-transition:all ease 0.2s;transition:all ease 0.2s}
a,img,label,li,span{text-decoration:none;-webkit-tap-highlight-color:rgba(255, 255, 255, 0)}

@media (min-width: 1200px){
	.container{
		max-width: 1140px;
		padding-left: 0;
		padding-right: 0;
	}
}


